.dashboard-wrapper {
  height: 32px;
}

.button-wrapper {
  padding: 4px 0px 0px 4px;
  float: left;
}

.btn {
  font-size: 24px;
  height: 32px;
  width: 32px;
}

.battery-wrapper {
  padding: 4px 0px 0px 4px;
  width: 72px;
  float: left;
/*  margin-top: 4px;
  margin-bottom: 4px;*/
}

.battery-wrapper .progress{
  height: 32px;
  margin: 0px;
}
