.dashboard-wrapper {
  height: 32px;
}

.button-wrapper {
  padding: 4px 0px 0px 4px;
  float: left;
}

.btn {
  font-size: 24px;
  height: 32px;
  width: 32px;
}

.battery-wrapper {
  padding: 4px 0px 0px 4px;
  width: 72px;
  float: left;
/*  margin-top: 4px;
  margin-bottom: 4px;*/
}

.battery-wrapper .progress{
  height: 32px;
  margin: 0px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
