<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Dashboard</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/main.css" />

    <script src="script.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
</head>

<body ng-controller="MainCtrl">

  <h1>{{ greeting }}</h1>

  <button id="status-all"       ng-class="status" class="btn btn-lg">
    <span class="glyphicon glyphicon-plane"></span>
  </button>
  <button id="status-arm-left"  ng-class="status" class="btn btn-lg">
    <span class="glyphicon glyphicon-hand-left"></span>
  </button>
  <button id="status-arm-right" ng-class="status" class="btn btn-lg">
    <span class="glyphicon glyphicon-hand-right"></span>
  </button>
  <button id="status-base"      ng-class="status" class="btn btn-lg">
    <span class="glyphicon glyphicon-move"></span>
  </button>
  <button id="status-spindle"   ng-class="status" class="btn btn-lg">
    <span class="glyphicon glyphicon-sort"></span>
  </button>
  <button id="status-head"      ng-class="status" class="btn btn-lg">
    <span class="glyphicon glyphicon-user"></span>
  </button>

  <br />

  <input type="button" value="set" ng-click="status='btn-danger'">
  <input type="button" value="set" ng-click="status='btn-success'">

</body>

</html>
