<!DOCTYPE html>
<html ng-app="app" ng-controller="StatusCtrl">

<head>
    <title ng-bind="title"></title>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/main.css" />

    <!-- spawn the window -->


    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
    <script src="bower_components/eventemitter2/lib/eventemitter2.js"></script>
    <script>
      global.EventEmitter2 = window.EventEmitter2;
      global.WebSocket = window.WebSocket;
    </script>
    <script src="bower_components/roslibjs/build/roslib.js"></script>
    <script>
      window.ROSLIB = global.ROSLIB;
    </script>
    <script src="bower_components/lodash/lodash.min.js"></script>

    <script src="main.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/ros.js"></script>
    <script src="scripts/status-controller.js"></script>
    <script src="scripts/hardware.js"></script>
    <script src="scripts/hardware-button.js"></script>
    <script src="scripts/ebuttons.js"></script>
    <script src="scripts/menu.js"></script>
    <script src="scripts/battery.js"></script>

</head>

<body ng-controller="MainCtrl">

  <div class="button-wrapper">

    <tue-hardware-button ng-click="showMenu($event, 'all')"
        status="hardware.all" title="all">
      <span ng-if="rosStatus == 'closed'" us-spinner="{ position:'relative', radius:5, width:2, length: 6 }"></span>
      <span ng-if="rosStatus != 'closed'" class="glyphicon glyphicon-plane"></span>
    </tue-hardware-button>

    <tue-hardware-button ng-click="showMenu($event, 'base')"
        status="hardware.base" title="base">
      <span ng-if="rosStatus == 'closed'" us-spinner="{ position:'relative', radius:5, width:2, length: 6 }"></span>
      <span ng-if="rosStatus != 'closed'" class="glyphicon glyphicon-move"></span>
    </tue-hardware-button>

    <tue-hardware-button ng-click="showMenu($event, 'spindle')"
        status="hardware.spindle" title="spindle">
      <span ng-if="rosStatus == 'closed'" us-spinner="{ position:'relative', radius:5, width:2, length: 6 }"></span>
      <span ng-if="rosStatus != 'closed'" class="glyphicon glyphicon-sort"></span>
    </tue-hardware-button>

    <tue-hardware-button ng-click="showMenu($event, 'left arm')"
        status="hardware.left_arm" title="left_arm">
      <span ng-if="rosStatus == 'closed'" us-spinner="{ position:'relative', radius:5, width:2, length: 6 }"></span>
      <span ng-if="rosStatus != 'closed'" class="glyphicon glyphicon-hand-left"></span>
    </tue-hardware-button>

    <tue-hardware-button ng-click="showMenu($event, 'right arm')"
        status="hardware.right_arm" title="right_arm">
      <span ng-if="rosStatus == 'closed'" us-spinner="{ position:'relative', radius:5, width:2, length: 6 }"></span>
      <span ng-if="rosStatus != 'closed'" class="glyphicon glyphicon-hand-right"></span>
    </tue-hardware-button>

    <tue-hardware-button ng-click="showMenu($event, 'head')"
        status="hardware.head" title="head">
      <span ng-if="rosStatus == 'closed'" us-spinner="{ position:'relative', radius:5, width:2, length: 6 }"></span>
      <span ng-if="rosStatus != 'closed'" class="glyphicon glyphicon-user"></span>
    </tue-hardware-button>

    <tue-ebuttons></tue-ebuttons>

  </div>

  <div ng-controller="BatteryCtrl" class="battery-wrapper" title="battery value">
    <progressbar value="battery" type="{{batteryType}}"
        ngCloak
        ng-class="{'progress-striped': batteryUnknown, active: batteryUnknown}">
      <b ng-if="batteryUnknown">Unknown</b>
      <b ng-if="!batteryUnknown">{{battery}}%</b>
    </progressbar>
  </div>

  <div class="button-wrapper">
    <button type="button" class="btn btn-xs btn-link" ng-click="showDevTools()" title="open dev tools">
      <span class="glyphicon glyphicon-cog"></span>
    </button>
    <button type="button" class="btn btn-xs btn-link" ng-click="reload()" title="reload">
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
  </div>

  <script type="text/ng-template" id="/hardware-button.html">
    <button class="btn btn-xs" ng-class="status.class" ng-transclude></button>
  </script>

</body>

</html>
