<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Dashboard</title>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/main.css" />

    <!-- spawn the window -->


    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.min.js"></script>
    <script src="bower_components/eventemitter2/lib/eventemitter2.js"></script>
    <script src="bower_components/roslibjs/build/roslib.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>

    <script src="main.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/ros.js"></script>
    <script src="scripts/hardware.js"></script>
    <script src="scripts/menu.js"></script>

</head>

<body ng-controller="MainCtrl">
  <div class="button-wrapper">
    <button class="btn" ng-class="hardware.all.class"       ng-click="showMenu($event, 'all')">
      <span ng-if="rosStatus != 'ok'" us-spinner="{ position: 'relative' }"></span>
      <span ng-if="rosStatus == 'ok'" class="glyphicon glyphicon-plane"></span>
    </button>
    <button class="btn" ng-class="hardware.base.class"      ng-click="showMenu($event, 'base')">
      <span ng-if="rosStatus != 'ok'" us-spinner="{ position: 'relative' }"></span>
      <span ng-if="rosStatus == 'ok'" class="glyphicon glyphicon-move"></span>
    </button>
    <button class="btn" ng-class="hardware.spindle.class"   ng-click="showMenu($event, 'spindle')">
      <span ng-if="rosStatus != 'ok'" us-spinner="{ position: 'relative' }"></span>
      <span ng-if="rosStatus == 'ok'" class="glyphicon glyphicon-sort"></span>
    </button>
    <button class="btn" ng-class="hardware.left_arm.class"  ng-click="showMenu($event, 'left_arm')">
      <span ng-if="rosStatus != 'ok'" us-spinner="{ position: 'relative' }"></span>
      <span ng-if="rosStatus == 'ok'" class="glyphicon glyphicon-hand-left"></span>
    </button>
    <button class="btn" ng-class="hardware.right_arm.class" ng-click="showMenu($event, 'right_arm')">
      <span ng-if="rosStatus != 'ok'" us-spinner="{ position: 'relative' }"></span>
      <span ng-if="rosStatus == 'ok'" class="glyphicon glyphicon-hand-right"></span>
    </button>
    <button class="btn" ng-class="hardware.head.class"      ng-click="showMenu($event, 'head')">
      <span ng-if="rosStatus != 'ok'" us-spinner="{ position: 'relative' }"></span>
      <span ng-if="rosStatus == 'ok'" class="glyphicon glyphicon-user"></span>
    </button>
  </div>
  <progressbar value="battery" type="{{batteryType}}"><b>{{battery}}%</b></progressbar>

</body>

</html>
